/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Cor de fundo neutra */
  color: #333;
}

/* Contêiner principal */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

/* Tabela */
/* Estilo geral da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #ffffffad; /* Adiciona um tom suave de fundo */
}

/* Estilo para o cabeçalho da tabela */
thead th {
  text-align: left;
  padding: 12px;  /* Aumentei o padding para mais espaço */
  background: #f1f1f1; /* Cor de fundo */
  color: #333; /* Cor do texto */
  font-weight: bold;
  border: 1px solid #ddd; /* Borda suave */
}

/* Estilo específico para cada coluna */
.Nome {
  text-align: left;
  width: 20%;
}

.Email {
  text-align: left;
  width: 25%;
}

.Telefone {
  text-align: left;
  width: 15%;
}

.Endereco {
  text-align: left;
  width: 30%;
}

.Acoes {
  text-align: center;
  width: 10%;
}

/* Estilo para o corpo da tabela */
tbody td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px; /* Melhorar legibilidade com texto de tamanho ajustado */
}

/* Cor de fundo alternada para as linhas */
tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Cor mais suave e clara */
}

/* Efeito de hover na linha */
tbody tr:hover {
  background-color: #f1f1f1; /* Cor suave ao passar o mouse */
}

/* Botões */
button {
  padding: 10px 16px; /* Aumentando o tamanho do botão para facilitar a interação */
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Tamanho maior da fonte */
  transition: all 0.3s ease; /* Transição suave ao passar o mouse */
}

/* Efeito de hover nos botões */
button:hover {
  opacity: 0.9;
  transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

/* Botão Salvar */
button.salvarEdicao {
  background-color: #4CAF50; /* Cor verde */
  color: white;
}

button.salvarEdicao:hover {
  background-color: #45a049;
}

/* Botão Cancelar */
button.cancelarEdicao {
  background-color: #f44336; /* Cor vermelha */
  color: white;
}

button.cancelarEdicao:hover {
  background-color: #e53935;
}

/* Botão Editar */
button.editar {
  background-color: #ffd700; /* Cor dourada */
  color: white;
}

button.editar:hover {
  background-color: #ffcc00;
}

/* Botão Excluir */
button.excluir {
  background-color: #f44336; /* Cor vermelha */
  color: white;
}

button.excluir:hover {
  background-color: #e53935;
}

/* Estilos para os botões de salvar e cancelar */
.salvarEdicao,
.cancelarEdicao {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease; /* Transição suave */
}

/* Espaçamento entre os botões */
.salvarEdicao + .cancelarEdicao {
  margin-left: 10px; /* Adiciona o espaçamento entre os botões */
}

/* Input de edição */
input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: calc(100% - 14px);
  font-size: 16px; /* Melhor legibilidade */
}

/* Mensagem de erro */
.error {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 10px;
}

/* Ajuste para elementos no Drawer */
.MuiDrawer-paper {
  background-color: #fff !important;  /* Garantir fundo branco */
  color: #333;  /* Cor dos textos no Drawer */
}

.MuiListItemText-primary {
  color: #333;  /* Cor dos textos do item de menu */
}

.MuiListItemIcon {
  color: #333;  /* Cor dos ícones dentro do Drawer */
}
