.appbar-pedidos {
    background-color: #da3131 !important;  
  }
.title-pedidos{
    text-align:center  !important;
    
}
  
  .container {
    padding: 20px;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  