.appbar-home {
  background-color: #c54444 !important;  
}

.title-home {
  text-align: left !important;
  padding-left: 20px;
  margin-top: 0;
  margin: 0;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Reduz a altura do conteúdo principal para 80% da altura da tela */
  text-align: center;
  padding: 20px; /* Adiciona um espaçamento */
}

.main-image {
  max-width: 35%;  /* Limita a largura da imagem */
  height: auto;
  margin-bottom: 15px;  /* Diminui o espaço entre a imagem e o slogan */
}

.slogan {
  font-size: 35px; /* Reduz o tamanho da fonte */
  color: #c54444;
  font-weight: bold;
  margin: 0;  /* Remove a margem extra */
}
