.appbar-pizzaria {
  background-color: #c54444 !important;
}

.title-pizzaria {
  text-align: left !important;
  padding-left: 20px;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.buscar-pizzaria-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #343a40;
  text-align: center;
}

.erro {
  color: red;
  text-align: center;
}

.pizzarias-list {
  display: flex;
  flex-wrap: wrap;  /* Permite que os itens se movam para a próxima linha quando não houver espaço */
  justify-content: center; /* Alinha as pizzarias ao centro */
  gap: 20px;  /* Espaço entre os itens */
  margin-top: 20px;
  width: 100%;
}

.pizzaria-card {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 250px;  /* Largura fixa para cada pizzaria */
  flex-shrink: 0;  /* Evita que os itens encolham */
}

.pizzaria-card h4 {
  color: #cb5454;
  margin-bottom: 10px;
  font-size: 22px;
}

.pizzaria-card p {
  margin: 5px 0;
}

.pizzaria-card strong {
  color: #343a40;
}
.btn-editar, .btn-excluir {
  background-color: #ffd700 !important;
  color: white !important;
  border: none !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  transition: background-color 0.3s ease !important;
}

.btn-editar:hover {
  background-color: #ffcc00 !important;
}

.btn-excluir {
  background-color: #f44336 !important;
}

.btn-excluir:hover {
  background-color: #e53935 !important;
}
